version: "3.9" # optional since v1.27.0
services:
  #  timescabledb:
  #    image: timescale/timescaledb:latest-pg14
  #    ports:
  #      - "5432:5432"
  #    volumes:
  #      - ./timescale/data:/var/lib/postgresql/data
  #    environment:
  #      - POSTGRES_PASSWORD=pass1234 # superuser :postgres

  timescabledb-ha:
    image: timescale/timescaledb-ha:pg14-latest
    ports:
      - "5432:5432"
    volumes:
      - ./timescale/data:/home/postgres/pgdata/data
    environment:
      - POSTGRES_PASSWORD=pass1234 # superuser :postgres

  redis:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis/data:/data

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 22181:2181

  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    ports:
      - 29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  ksqldb-server:
      image: confluentinc/ksqldb-server:0.19.0
      hostname: ksqldb-server
      depends_on:
        - kafka
      ports:
        - "8088:8088"
      healthcheck:
        test: curl -f http://ksqldb-server:8088/ || exit 1
      environment:
        KSQL_LISTENERS: http://0.0.0.0:8088
        KSQL_BOOTSTRAP_SERVERS: kafka:9092
        KSQL_KSQL_LOGGING_PROCESSING_STREAM_AUTO_CREATE: "true"
        KSQL_KSQL_LOGGING_PROCESSING_TOPIC_AUTO_CREATE: "true"

  ksqldb-cli:
    image: confluentinc/ksqldb-cli:0.19.0
    container_name: ksqldb-cli
    depends_on:
      - kafka
      - ksqldb-server
    entrypoint: /bin/sh
    tty: true
  grafana:
    image: grafana/grafana-oss
    ports:
      - 3001:3000
    restart: always
    volumes:
      - ./grafana:/var/lib/grafana
